Repository marcauberer/compiler-design-lecture-project-TINF22B6, pull requests merged in 2024-06, with the labels that each got.

#58 Group 4
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/ForNodeConditionTypeTest.java
Labels: size/M

#55 feat(🦶): added TypeCheck for if statement and tests
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAfterIfNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/TypeCheckerTest.java
Labels: size/L

#59 Type Checker + Tests Gruppe 7
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAssignStmtNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/STBAssignStmtTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/STBVarDeclTest.java
Labels: size/L

#61 Gruppe 5
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTCasesNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTSwitchStmtNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/CasesNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/SwitchStmtNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/SwitchStmtTest.java
Labels: size/L

#63 Gruppe 8: SymbolTableBuilder Integration Tests
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AdditiveExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AtomicExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/CompareExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/LogicalExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/MultiplicativeExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/PrefixExprNodeTest.java
Labels: size/M

#64 Add IR generator skeleton
  src/main/java/com/auberer/compilerdesignlectureproject/CompilerDesignLectureProject.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTLogicNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTLogicalExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/BasicBlock.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/Function.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/ICodeGenerator.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IDumpable.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRExprResult.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRGenerator.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRunnable.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/Module.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/CondJumpInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/IInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/Instruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/JumpInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/LogicalExprInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/PrintInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/ReturnInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/interpreter/IInterpreter.java
  src/main/java/com/auberer/compilerdesignlectureproject/interpreter/InterpreterEnvironment.java
  src/main/java/com/auberer/compilerdesignlectureproject/interpreter/Value.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableEntry.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/ModuleTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/LogicalExprNodeTest.java
Labels: enhancement, size/XL

#66 Team 3: doWhileLoop
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRGenerator.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/DoWhileLoopNodeTest.java
Labels: size/M

#65 Group 4
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRGenerator.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/ForLoopIntegrationTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/ModuleTest.java
Labels: size/M

#71 Gruppe 8
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRGenerator.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/AndInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/DivisionInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/EqualInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/LogicalExprInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/MinusInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/MultiplicativeInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/NotEqualInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/OrInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/PlusInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/PrefixMinusInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/PrefixPlusInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
Labels: size/XL

#70 Team 7
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRGenerator.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/Instruction.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/AssignStmtTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/VarDeclTest.java
Labels: size/L

#73 Group 8: Added sema integration tests
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/AdditiveExpressionNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/AtomicExpressionNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/CompareExpressionNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/LogicalExpressionNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/MultiplicativeExpressionNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/PrefixExpressionNodeTest.java
Labels: size/XL

#72 Group 6 - help needed once again :D
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTLogicNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTParamNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/FunctionDef.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/Function.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRGenerator.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/Module.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/CallInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/ReturnInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/interpreter/InterpreterEnvironment.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/FctDefAndCallTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/ModuleTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/WhileLoopTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/DoWhileLoopNodeTest.java
Labels: size/L

#68 Team 1: IRGenerator implementation for IfStmt
  pom.xml
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTElseNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTIfStmtNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRGenerator.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/IfStmtIRGeneratorTest.java
Labels: size/L

#69 Gruppe 5: Switch Statement
  TInf.g4
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInf.interp
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInfBaseVisitor.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInfParser.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInfVisitor.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTCaseNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTCasesNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTSwitchStmtNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTVisitor.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/IRGenerator.java
  src/main/java/com/auberer/compilerdesignlectureproject/codegen/instructions/SwitchInstruction.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/codegen/SwitchStmtTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/CaseNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/SwitchStmtNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/SwitchStmtTest.java
Labels: size/XXL
