Repository marcauberer/compiler-design-lecture-project-TINF22B6, pull requests merged in 2024-05, with the labels that each got.

#21 Team 6 Nils Nick Jeremias Simon / Function Definition and Calls
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAssignExpr.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTCallParams.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTFctCall.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTFctDef.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTLogic.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTParamLst.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTVisitor.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/PrintBuiltinCallNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/TypeNodeTest.java
Labels: size/L

#16 Team 8: Expression loop
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAdditiveExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAtomicExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTLogicalExpressionNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTMultiplicativeExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTPrefixExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTVisitor.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTcompareExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AdditiveExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AtomicExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/CompareExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/LogicalExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/MultiplicativeExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/PrefixExprNodeTest.java
Labels: size/XL

#18 Group 4: For Loop
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTForNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTStmtLstNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTVisitor.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/main/java/com/auberer/compilerdesignlectureproject/reader/IReader.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/ForNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/TypeNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/reader/ReaderTest.java
Labels: size/L

#22 Add support for ANTLR
  .gitignore
  .run/Run ANTLR.run.xml
  .run/Run Default.run.xml
  Example.g4
  pom.xml
  regenerate-parser-example.bat
  regenerate-parser-tinf.bat
  src/main/java/com/auberer/compilerdesignlectureproject/CompilerDesignLectureProject.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/AntlrParser.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInf.interp
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInf.tokens
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInfBaseVisitor.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInfLexer.interp
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInfLexer.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInfLexer.tokens
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInfParser.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/gen/TInfVisitor.java
Labels: size/XXL

#23 add: Makefile for unix systems
  Makefile
Labels: size/XS

#24 Gruppe 2: ANTLR + ASTBuilder
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
Labels: size/XS

#26 Team 3: create logic for visitDoWhileLoop() in ASTBuilder
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
Labels: size/XS

#27 Team 7: VarDecl und AssignExpr
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAssignExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTVarDeclNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AssignExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/VarDeclNodeTest.java
Labels: size/L

#28 Group 4: For-Loop Assignment
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
Labels: size/XS

#30 Gruppe 6
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAssignExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTFctDefNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTParamLstNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/FunctionCallTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/FunctionDefinitionTest.java
Labels: size/L

#32 Team7: ASTBuilder
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
Labels: size/S

#25 Group 1: If Statement Assignment 🚀📈
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAfterIfContext.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAfterIfNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTElseNode.java
Labels: size/M

#36 Fix lexer bug
  src/main/java/com/auberer/compilerdesignlectureproject/lexer/Lexer.java
Labels: size/XS

#35 feat (🦶): make easy access (🔑) to children (👶) of ASTIfStmtNode (𓆱🪢) …
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTIfStmtNode.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/IfStmtNodeTest.java
Labels: size/M

#38 Team 3: doWhileLoop
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTDoWhileLoopNode.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/DoWhileLoopNodeTest.java
Labels: size/M

#42 Gruppe 5
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTCasesNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTDefaultNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTSwitchStmtNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/SwitchStmtNodeTest.java
Labels: size/M

#37 Gruppe 6
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTFctCallNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTFctDefNode.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/FunctionCallTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/FunctionDefinitionTest.java
Labels: size/M

#40 Team7
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAssignStmtNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTVarDeclNode.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AssignStmtNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/VarDeclNodeTest.java
Labels: size/M

#41 Group 4
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTForNode.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/ForNodeIntegrationTest.java
Labels: size/M

#44 Add SymbolTable skeleton
  pom.xml
  src/main/java/com/auberer/compilerdesignlectureproject/CompilerDesignLectureProject.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTVisitor.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/ITypeChecker.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/Scope.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTable.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableEntry.java
Labels: enhancement, size/L

#46 Team 3 doWhileLoop
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/DoWhileLoopNodeTest.java
Labels: size/S

#43 gruppe 8 Abgabe
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAdditiveExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAtomicExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTCompareExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTLogicalExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTMultiplicativeExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTPrefixExprNode.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AdditiveExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AtomicExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/CompareExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/LogicalExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/MultiplicativeExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/PrefixExprNodeTest.java
Labels: size/L

#45 Gruppe 1: If
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/IfStmtSymbolTableBuilderTest.java
Labels: size/M

#47 Gruppe 5
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/SwitchStmtNodeTest.java
Labels: size/M

#48 Group 4
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/ForNodeIntegrationTest.java
Labels: size/S

#49 Gruppe 2: While Loop
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/STBWhileLoopTest.java
Labels: size/M

#50 Team 7 heute early
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AssignStmtNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/VarDeclNodeTest.java
Labels: size/M

#54 Type checker skeleton
  .run/Run Default.run.xml
  src/main/java/com/auberer/compilerdesignlectureproject/CompilerDesignLectureProject.java
  src/main/java/com/auberer/compilerdesignlectureproject/antlr/ASTBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTAtomicExprNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTElsePostNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTFctDefNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTPrintBuiltinCallNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTTypeNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTVarDeclNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/interpreter/Value.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/ExprResult.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SuperType.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTable.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableEntry.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/Type.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AdditiveExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/AtomicExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/CompareExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/ForNodeIntegrationTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/FunctionDefinitionTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/LogicalExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/MultiplicativeExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/PrefixExprNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/TypeNodeTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/VarDeclNodeTest.java
  test.tinf
Labels: enhancement, size/L

#57 Team 3: doWhileLoop
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/DoWhileLoopNodeTest.java
Labels: size/M

#56 Gruppe 2: TypeChecker for While Loop
  src/main/java/com/auberer/compilerdesignlectureproject/sema/TypeChecker.java
  src/test/java/com/auberer/compilerdesignlectureproject/sema/STBWhileLoopTest.java
Labels: size/M

#52 Gruppe 6
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTFctDefNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/ast/ASTParamLstNode.java
  src/main/java/com/auberer/compilerdesignlectureproject/parser/Parser.java
  src/main/java/com/auberer/compilerdesignlectureproject/sema/SymbolTableBuilder.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/FunctionCallTest.java
  src/test/java/com/auberer/compilerdesignlectureproject/parser/FunctionDefinitionTest.java
Labels: size/M
